.formselect {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	width: 100%;
}
.butClass{    
    border: 1px solid;
    border-color: #D6D3CE;
}
  
.tdClass{
    padding-left: 3px;
    padding-top:3px;
}.clsCursor {
	cursor: hand;
}
